<h1> Convert <%= @starting_currency %> to <%= @ending_currency %></h1>

<p>
1 <%= @starting_currency %> equals <%= @info_rate %> <%= @ending_currency %>.
</p>

<p>
Go <a href="/forex/<%= @starting_currency %>">back</a>.
</p>

<%= @api_url %>
